body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  color: blueviolet;
  font-family: Roboto;
}

.container {
  padding: 0 2.5%;
}

.box {
  height: 100px;
  width: 100px;
}

#app {
  text-align: center;
}

.grid {
  padding: 10px;
}
