body {
  margin: 0;
  display: flex;
  justify-content: center;
  display: flex inline-block;
  flex-direction: column;
  align-items: center;
}

.grid {
  padding: 10px;
}

.row {
  margin: 0 auto;
  width: 450px;
}

.box {
  height: 150px;
  width: 150px;
}

.resetButton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
