body {
  margin: auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: block;
}

#root {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  box-sizing: border-box;
}

.grid {
  padding: 10px;
}

.row {
  margin: 0 auto;
  min-width: 27rem;
}

.box {
  height: 9rem;
  width: 9rem;
}

.box.text-x {
  color: red; /* Change the color for "X" */
}

.box.text-o {
  color: blue; /* Change the color for "O" */
}

.resetButton {
  top: 50%;
  left: 35%;
}

.toggleButton {
  top: 50%;
  left: 40%;
}

/* iPhone small screen */
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
